.container {
  & h2,
  & p {
    text-align: center;
  }
}

.center {
  text-align: center;
}

.w100 {
  width: 100%;
}

.headSection {
  margin-bottom: 60px;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
